<div class="dashboard">
  
  <p class="welcome"> Welcome to Localize, {{ user.userName }}!</p>

  <table class="eventTable">
    <tr>
      <td class=eventName>Your Events</td>
    </tr>
    <tr ng-repeat="event in events">
      <td class="eventTitles">{{ event.name }}</td>
      <td class="centered">{{ event.location }}</td>
      <td class="centered">{{ event.date }}</td>
      <td class="centered">{{ event.time }}</td>
      <td class="centered">{{ event.tags }}</td>

    </tr>
    <tr>
      <a href="#/add"><button><i class="fa fa-plus-circle"></i></button> Add Event</a>
      
    </tr>
  </table>

  <div class="fixedButtons">
    <a href="#/"><button><i class="fa fa-home"></i> Home</button></a>   
    <a href="#/logout"><button><i class="fa fa-sign-out"></i> Log Out</button></a>
  </div>  

</div>

<div class="singlePersonTemplate">

  <p class="userName"> Username: <span>{{ event.createdby }}</span></p>

  <table class="userTable">
    <tr>
      <td class="tableTitles">Event Name</td>
      <td class="centered tableTitles">Event Date</td>
      <td class="centered tableTitles">Event Time</td>
      <td class="centered tableTitles">Event Location</td>
      <td class="centered tableTitles">Event Picture</td>
      <td class="centered tableTitles">Event Tags</td>
    </tr>
    <tr ng-repeat="event in vm.events">
      <td class="tableTitles">{{ event.name }}</td>
      <td class="tableTitles">{{ event.date }}</td>
      <td class="centered">{{ event.time }}</td>
      <td class="centered">{{ event.location }}</td>
      <td class="centered">{{ event.picture }}</td>
      <td class="centered">{{ event.tags }}</td>

    </tr>
  </table>


 