<div class="dashboard">
  
  <p> Welcome to Localize, {{ user.userName }}!</p>

  <table>
    <tr>
      <td>Your Events</td>
    </tr>
    <tr ng-repeat="event in events">
      <td>{{ event.name }}</td>
      <td>{{ event.location }}</td>
      <td>{{ event.date }}</td>
      <td>{{ event.time }}</td>
      <td>{{ event.tags }}</td>

    </tr>
    <tr>
      <a href="#/add"><button><i class="fa fa-plus-circle"></i></button> Add Event</a>
      
    </tr>
  </table>

  <form ng-submit="vm.logout(user)">
    <div class="fixedButtons">
      <button><i class="fa fa-home"></i> Home</button>  
      <button><i class="fa fa-sign-out"></i> Log Out</button>
    </div>  
  </form>
    


</div>

<!-- ALL EVENTS -->


<div>


  <table>
    <tr>
      <td>Event Name</td>
      <td>Created By</td>
      <td>Event Date</td>
      <td>Event Time</td>
      <td>Event Location</td>
<!--        <td>Event Picture</td> -->
      <td>Event Tags</td>
    </tr>
    <tr ng-repeat="event in vm.events">
      <td>{{ event.name }}</td>
      <td>{{ event.createdby }}</td>
      <td>{{ event.date }}</td>
      <td>{{ event.time }}</td>
      <td>{{ event.location }}</td>
      <!-- <td>{{ event.picture }}</td> -->
      <td>{{ event.tags }}</td>

    </tr>
  </table>


 