<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
          <h1><a href="#/" class="title">Localize</a></h1>
        </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
      <div class="position-right">
          <li id="home"><a href="#/">Home</a></li>
          <li id="logout"><a href="#">Logout</a></li>
      </div>
      </ul>
      <ul class="left">
      <div class="position-left">
          <!-- <li id="userName"><a href="#">User Name</a></li> -->
          <h4>userName{{ userName.id }}</h4>
      </div>
      </ul>
    </section>
</nav>