// Put any @imports here
// See Readme for a list of supported ones
@import "foundation";
@include foundation-everything;
@import 'font-awesome';
@import 'bourbon';
@import 'neat';




////// Localize Colors //////
$greyDark:  #262425;
$greyMedium:#3E3E3E;
$greyBrown: #878676;
$greyLight: #E6E6E6;
$redBright: #F1091F;

body {
  background:$greyMedium;
  opacity :0.7;
}
.title-area{
  width :50%;
  list-style : none;
}
.right{
  list-style :none;
  box-sizing : border-box;
  height :20px;
}

.right li{
  font-size:0.9em;
  // width : 7%;
  padding:2%;
  display:inline-block;
  text-align :top;

}

.position-right{
  display:inline-block;
  //border:1px solid black;
  width :30%;
  position :absolute;
  top :5%;
  right:0%;
}

//LOGIN TEMPLATE

.login{
  padding :5%;
  margin:5% auto;
  width : 50%;
  //height:200px;
  //border:1px solid black;
}

.button:hover{
  background-color: $greyLight !important ;
}
.success,.alert{
  color:$redBright !important;
  background-color: $greyBrown !important;
  font-weight:bold !important;
//   opacity : 0.4;
}

//CONTAINER2 SPECIFIC SEARCH

.container2{
  width :50%;

  #eat, #eat ul {
   list-style : none;
   padding : 0;
   margin :0;
  }
}

//ADD FORM
.pageHeading{
  margin :3% auto;
  padding-left:15%;
}

.add-event{
  //border :0.1em solid black;
  width : 50%;
  padding:5%;
  margin : 2% auto;
}

.add-event-display{
  width : 50%;
  padding:5%;
  margin : 2% auto;
}

.rating-stars{
  color : yellow !important;

}

.button{
  margin : 5% 30% ;
}

.addfields{
  width :80%;
  height: 50px;
  margin :1% auto;
}

.detail{
  height :100px;
  margin-left: 0;
}

// OTHER TWO CONTAINERS

// .secondNav{
  
// }

// .left{
//   list-style :none;
//   box-sizing : border-box;
//   height :20px;
// }

// .left li{
//   font-size:0.9em;
//   // width : 7%;
//   padding:2%;
//   display:inline-block;
//   text-align :top;

// }

// .position-left{
//   display:inline-block;
//   //border:1px solid black;
//   width :30%;
//   position :absolute;
//   top :25%;
//   left:0%;
// }

#secondNavLink {
  list-style: none;
}

.textarea1 {
  background: url(http://lorempixel.com/600/600) center center no-repeat; 
}

.textarea2 {
  background: url(http://lorempixel.com/700/700) center center no-repeat; 
}

.textarea3 {
  background: url(http://lorempixel.com/800/800) center center no-repeat;  
}

.textarea1, .textarea2, .textarea3 {
  border: 1px solid #888; 
  height: 30%;
  font-weight: bold;
  text-align: center;
  text-color: $greyMedium;
}


.list{
  margin : auto;
  padding-left:10%;
}

.featuredList {
  list-style: none;
  display: inline-block;
  width: 25%;
  margin: 2%;
  text-align: center; 
}

h3 {
  text-align: center;
  margin: 2%;

}

nav.top-bar.ng-scope {
  max-height: 5%;
}



