// Put any @imports here
// See Readme for a list of supported ones
@import "foundation";
@include foundation-everything;
@import 'font-awesome';
@import 'bourbon';
@import 'neat';
@import 'motion-ui';
//@import 'sweetalert.css';


////// Localize Fonts ///////
$roboto: 'Roboto';
$ubuntu: 'Ubuntu';


////// Localize Colors //////
$greyDark:  #262425;
$greyMedium:#3E3E3E;
$greyBrown: #878676;
$greyLight: #E6E6E6;
$redBright: #F1091F;
$redOrange: #FF4734;

////// Breakpoints ///////

$breakpoints: (
  small: 0px,
  medium: 640px,
  large: 1024px,
);

$breakpoint-classes: (
  small 
  medium 
  large
);

body {
  background: $greyLight;
  background-size: cover;
  height: 100%;
  max-width:100%;

  ul {
    margin-bottom: 0;
  }

  ul.right {
    height: 0;
  }

///// Top Bar Navigation /////

.top-bar {
  background: transparent;
}

.top-bar ul {
    background: transparent;
}

.title-area{
  width :50%;
  list-style : none;
}
.right{
  list-style :none;
  
  box-sizing : border-box;
  height :20px;
}

.right li{
  font-size:0.9em;
  // width : 7%;
  padding:2%;
  display:inline-block;
  text-align :top;
  margin-right: 5%;
  color: #fff;
}

.position-right{
  width :30%;
  position :absolute;
  top :5%;
  right:0%;
}

.fa.fa-home {
  transition: 0.5s;
  color: $redOrange;
}

.fa:hover {
  color: #fff;
  transition: 0.5s;
}

.position-right li a {
  color: #fff
}

.position-right li a:hover {
  color: $redOrange;
}

////// LAYOUT TEMPLATE //////

.modalLogin {
  background: rgba(255,255,255,0.3);
  padding : 2%; 
}

.btns{
  padding:3%;
  margin-top: 1%;
}

.bt1{
    margin-left:22%;
    width: 30%;
    display: inline-block;
}

.bt2{
  display:inline-block;
  width:30%;
}

#modbtn1{
    display:inline-block;
    margin:2%;
  }
  #modbtn1 a, #modbtn2 a{
    color:#fff !important;
  }

#modbtn2{
    display:inline-block;
    margin:2%;
    //width:20%;
}


/////// HOME TEMPLATE ////////

  .bgvideo {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 712px;
    z-index: -9999;
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
  }

  .localizeLogo {
    position: absolute;
    top: 2%;
  }

  .discover {
    color: $redOrange;
    font-family: $ubuntu;
    font-weight: bold;
    position: absolute;
    top: 55%;
    left: 35%;
  }

  .searchForm {
    position: absolute;
    top: 70%;
    left: 28%;

    .searchInput {
      width: 260%;
      margin-left: 0;
      display: inline;
      height: 50px;
      border: 2px solid $greyLight;

    }

    .button.success {
      background: #3adb76;
      color: #fff;
      margin: 0;
      position: absolute;
      top: 0%;
      left: 262%;
      height: 76%;
      background: $redOrange;
    }
  }

  ul.searchResults a {
    transition: color 1.5s ease;
    background: #fff;
    color: #000;
    font-size: 1.2em;
    list-style: none;
    width: 486px;
    padding-left: 2%;
    position: absolute;
    top: 77%;
    left: 334px;
    padding-top: 1%;
    margin-top: 5px;
    margin-left: 20px;
  }

  ul.searchResults a:hover {
    color: $greyBrown;
  }

  input:-webkit-autofill {
    display: none;
  }

  // Columns Section - Home Page //

  .connect {
    font-family: $ubuntu;
    color: $redOrange;
    margin-top: 5%;
    text-align: center;
  }

  .connectPara {
    margin-bottom: 5%;
    text-align: center;
    font-family: $ubuntu;
    font-size: 1.2em;
    color: $greyMedium;
  }

  .columnsPage {
    margin-bottom: 10%;

    .tresColumns {
      margin-left: 12%;

      .column {
        position: relative;
        background: #fff;
        margin-right: 22px;
        height: 412px;
        width: 307px;

        .columnPic {
          margin-top: 4%;
        }

        .eatColumn {
        position: absolute;
        top: 16%;
        //left: 20%;
       // width: 65%;
        }

        .goColumn {
          position: absolute;
          top: 18%;
          //left: 20%;
          //width: 65%;
        }

        .eventColumn {
          position: absolute;
          top: 10%;
        }

        .menu > li > a {
          transition: 1s;
          color: $greyMedium;
          font-weight: bold;
          font-size: 0.9em;
        }

        .menu > li > a:hover {
          color: red;
          transition: 1s;
          background:rgba(255,255,255,0.9);
          opacity :0.7;
        }
      }
    }

    .dropdown.menu 
    .is-dropdown-submenu-parent.is-down-arrow > a::after {
      display: none;
    }

    .dropdown.menu .submenu {
      background: transparent;
      border: none;
      width: 100%;
      height:210px;
      overflow-y: auto;
      overflow-x: hidden;
      background:rgba(255,255,255,0.6);

    }
  }

  // Featured Section - Home Page //

  .featSection {
    margin-top: 12%;
    margin-left: 10%;

    .featHeader {
      color: $redOrange;
      font-family: $ubuntu;
      margin-right: 13%;
      text-align: center;
    }

    .featPara {
      text-align: center;
      margin-right: 13%;
      margin-bottom: 5%;
      font-size: 1.2em;
      font-family: $ubuntu;
    }

    .large-up-4 .column {
      margin-right: 2%;

      .featImgDiv {
        overflow: hidden;
        border: 5px solid #fff;
        border-radius: 50%;

        .featuredImg {
          width: 630px;
          height: 250px;
        }
      }

      .featInfo {
        margin-top: 15%;
        margin-left: 17%;

        .featInfoPara {
          text-align: center;
          margin-right: 26%;
          font-family: $ubuntu;
          font-size: 1.2em;
        }
      }
    }
  }


///// LOGIN TEMPLATE /////

  .logPage {

    height: 100%;

    .loginForm {
      background: rgba(255,255,255,0.5);
      padding: 0 5%;
      width : 50%;
      position: absolute;
      top: 30%;
      border: 1px solid $redOrange;
      border-radius: 3px;
      @include span-columns(6);
      @include shift(3);

      .headSection {
        margin-top: 15%;
        margin-bottom: 15%;

        h2 {
          font-family: $ubuntu;
          color: $redOrange;
          text-align: center;
          margin-bottom: 5%;
          margin-left: 15%;
        }

        .logIcon {
          position: absolute;
          top: 10%;
          margin-left: 1%;
        }
      }

      .logBtnSection {
        margin-top: 10%;

        .logBtn {
          margin-left: 0;
        }

        a {
          color: $redOrange;
          transition: 1s;
        }

        a:hover {
          color: #fff;
          transition: 1s;
        }
      }
    }
  }

////// Registration Page //////

  .regPage {

    .nightImg {
      width: 100%;
    }

    .regSection {
      @include outer-container;
      width :100%;
      // position: relative;

      .regForm {
        background: rgba(255,255,255,0.6);
        @include span-columns(6);
        @include shift(3);
        margin-top: 5%;
        border: 1px solid $redOrange;
        border-radius: 3px;
        position: absolute;
        top: 22%;
        right: 26%;

        .regHeader {
          margin-top: 10%;
          margin-bottom: 15%;

          .cityThumb {
            position: absolute;
            top: -7%;
            margin-left: 10%;
          }

          .signUpHeader {
            margin-top: 5%;
            margin-left: 30%;
            color: #000;
            font-family: $ubuntu;
          }
        }

        .regField {
          width: 80%;
          margin-left: 10%;
          margin-bottom: 5%;
        }

        .regBtn {
          margin-left: 10%;
          margin-top: 2%;
        }

        a {
          color: $redOrange;
          transition: 2s;
        }

        a:hover {
          color: #fff;
          transition: 1s;
        }
      }
    }
  }

//---------ADD FORM-----------//
.add-welcome{
  margin : 2% 10%;
 
 #uid{
  font-size: 1em; 
 } 
}

.pageHeading{
  margin :3% auto;
  padding-left:40%;
  font-size: 1.2em;
}

.up-img{
  border:1px solid $redOrange;
  width :60%;
  margin :1% auto 2%;
  padding:2%;
  // background-color:$greyBrown;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}
 #eventImage{
    color:#6D6262;
 }


.eventImgBtn1, .eventImgBtn2{
  display:inline-block;
  width:20%;
  background-color: $redOrange;
}

.button.eventImgBtn1{
  margin-left:25%;
}

.eventImgBtn2 a{
  color:white !important;
}

.eventImgBtn1:hover, .eventImgBtn2:hover{
 // color:white !important;
  background-color: $redOrange;
}

.addForm{
  border:1px solid $redOrange;
  width :60%;
  margin :1% auto 7%;
  padding:2%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;

}

.add-event{
  //border :0.1em solid black;
  //width : 50%;
  padding:5%;
  margin : 2% auto;
}

.add-event-display{
  width : 50%;
  padding:5%;
  margin : 2% auto;
}


// .rating-stars{
//   color : yellow !important;

// }

.button{
  margin : 5% ;
  background-color:$redOrange;
}
.button:hover{
  background-color:$redOrange;
}

.addfields{
  width :100%;
  height: 50px;
  margin:1% 0;
  padding :0;
}
#pokemonBlue, #pokemonYellow, #pokemonRed{
  color : $redOrange !important;
}

.detail{
  height :100px;
  margin-left: 0;
}


////////// TAG RESULTS TEMPLATE ///////////

  .tagPage {


    .tagResults {
      margin: 5% 0 5% 5%;

      h4 {
        font-family: $ubuntu;
        color: $redOrange;
        margin-top: 15%;
      }
    
      .tagResDiv{
        display:inline-block;
        width:25%;
        margin :2% 0;
        overflow: hidden;
      }

      .tagContainer{
        border: 3px solid rgba(255,255,255,0.2);
        border-radius: 5px 30px 5px;
        background: #fff;
        width: 84%;
        height: 297px;

        img {
          width: 530px;
          height: 260px;
          border: none;
          border-radius: 3px 29px 0 0;
        }

        .tagResText {
          margin-left: 5%;
          margin-top: 2%;
          margin-bottom: 5%;
          font-family: $ubuntu;

          a {
            color: $redOrange;
          }

          span {
            float: right;
            margin-right: 5%;
          }

          small {
            color: $redOrange;
          }
        }

      }
    }
}

///CSS FOR SWEET ALERT
body.stop-scrolling {
  height: 100%;
  overflow: hidden; }

.sweet-overlay {
  background-color: black;
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE8 */
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 10000; }

.sweet-alert {
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 99999; }
  @media all and (max-width: 540px) {
    .sweet-alert {
      width: auto;
      margin-left: 0;
      margin-right: 0;
      left: 15px;
      right: 15px; } }
  .sweet-alert h2 {
    color: #575757;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 25px 0;
    padding: 0;
    line-height: 40px;
    display: block; }
  .sweet-alert p {
    color: #797979;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    position: relative;
    text-align: inherit;
    float: none;
    margin: 0;
    padding: 0;
    line-height: normal; }
  .sweet-alert fieldset {
    border: none;
    position: relative; }
  .sweet-alert .sa-error-container {
    background-color: #f1f1f1;
    margin-left: -17px;
    margin-right: -17px;
    overflow: hidden;
    padding: 0 10px;
    max-height: 0;
    webkit-transition: padding 0.15s, max-height 0.15s;
    transition: padding 0.15s, max-height 0.15s; }
    .sweet-alert .sa-error-container.show {
      padding: 10px 0;
      max-height: 100px;
      webkit-transition: padding 0.2s, max-height 0.2s;
      transition: padding 0.25s, max-height 0.25s; }
    .sweet-alert .sa-error-container .icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #ea7d7d;
      color: white;
      line-height: 24px;
      text-align: center;
      margin-right: 3px; }
    .sweet-alert .sa-error-container p {
      display: inline-block; }
  .sweet-alert .sa-input-error {
    position: absolute;
    top: 29px;
    right: 26px;
    width: 20px;
    height: 20px;
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.1s;
    transition: all 0.1s; }
    .sweet-alert .sa-input-error::before, .sweet-alert .sa-input-error::after {
      content: "";
      width: 20px;
      height: 6px;
      background-color: #f06e57;
      border-radius: 3px;
      position: absolute;
      top: 50%;
      margin-top: -4px;
      left: 50%;
      margin-left: -9px; }
    .sweet-alert .sa-input-error::before {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .sweet-alert .sa-input-error::after {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .sweet-alert .sa-input-error.show {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1); }
  .sweet-alert input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    height: 43px;
    margin-top: 10px;
    margin-bottom: 17px;
    font-size: 18px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
    padding: 0 12px;
    display: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .sweet-alert input:focus {
      outline: none;
      box-shadow: 0px 0px 3px #c4e6f5;
      border: 1px solid #b4dbed; }
      .sweet-alert input:focus::-moz-placeholder {
        transition: opacity 0.3s 0.03s ease;
        opacity: 0.5; }
      .sweet-alert input:focus:-ms-input-placeholder {
        transition: opacity 0.3s 0.03s ease;
        opacity: 0.5; }
      .sweet-alert input:focus::-webkit-input-placeholder {
        transition: opacity 0.3s 0.03s ease;
        opacity: 0.5; }
    .sweet-alert input::-moz-placeholder {
      color: #bdbdbd; }
    .sweet-alert input:-ms-input-placeholder {
      color: #bdbdbd; }
    .sweet-alert input::-webkit-input-placeholder {
      color: #bdbdbd; }
  .sweet-alert.show-input input {
    display: block; }
  .sweet-alert .sa-confirm-button-container {
    display: inline-block;
    position: relative; }
  .sweet-alert .la-ball-fall {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -27px;
    margin-top: 4px;
    opacity: 0;
    visibility: hidden; }
  .sweet-alert button {
    background-color: #8CD4F5;
    color: white;
    border: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    -webkit-border-radius: 4px;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 26px 5px 0 5px;
    cursor: pointer; }
    .sweet-alert button:focus {
      outline: none;
      box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05); }
    .sweet-alert button:hover {
      background-color: #7ecff4; }
    .sweet-alert button:active {
      background-color: #5dc2f1; }
    .sweet-alert button.cancel {
      background-color: #C1C1C1; }
      .sweet-alert button.cancel:hover {
        background-color: #b9b9b9; }
      .sweet-alert button.cancel:active {
        background-color: #a8a8a8; }
      .sweet-alert button.cancel:focus {
        box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important; }
    .sweet-alert button[disabled] {
      opacity: .6;
      cursor: default; }
    .sweet-alert button.confirm[disabled] {
      color: transparent; }
      .sweet-alert button.confirm[disabled] ~ .la-ball-fall {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s; }
    .sweet-alert button::-moz-focus-inner {
      border: 0; }
  .sweet-alert[data-has-cancel-button=false] button {
    box-shadow: none !important; }
  .sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false] {
    padding-bottom: 40px; }
  .sweet-alert .sa-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box; }
    .sweet-alert .sa-icon.sa-error {
      border-color: #F27474; }
      .sweet-alert .sa-icon.sa-error .sa-x-mark {
        position: relative;
        display: block; }
      .sweet-alert .sa-icon.sa-error .sa-line {
        position: absolute;
        height: 5px;
        width: 47px;
        background-color: #F27474;
        display: block;
        top: 37px;
        border-radius: 2px; }
        .sweet-alert .sa-icon.sa-error .sa-line.sa-left {
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          left: 17px; }
        .sweet-alert .sa-icon.sa-error .sa-line.sa-right {
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          right: 16px; }
    .sweet-alert .sa-icon.sa-warning {
      border-color: #F8BB86; }
      .sweet-alert .sa-icon.sa-warning .sa-body {
        position: absolute;
        width: 5px;
        height: 47px;
        left: 50%;
        top: 10px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        margin-left: -2px;
        background-color: #F8BB86; }
      .sweet-alert .sa-icon.sa-warning .sa-dot {
        position: absolute;
        width: 7px;
        height: 7px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin-left: -3px;
        left: 50%;
        bottom: 10px;
        background-color: #F8BB86; }
    .sweet-alert .sa-icon.sa-info {
      border-color: #C9DAE1; }
      .sweet-alert .sa-icon.sa-info::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 29px;
        left: 50%;
        bottom: 17px;
        border-radius: 2px;
        margin-left: -2px;
        background-color: #C9DAE1; }
      .sweet-alert .sa-icon.sa-info::after {
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-left: -3px;
        top: 19px;
        background-color: #C9DAE1; }
    .sweet-alert .sa-icon.sa-success {
      border-color: #A5DC86; }
      .sweet-alert .sa-icon.sa-success::before, .sweet-alert .sa-icon.sa-success::after {
        content: '';
        -webkit-border-radius: 40px;
        border-radius: 40px;
        border-radius: 50%;
        position: absolute;
        width: 60px;
        height: 120px;
        background: white;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      .sweet-alert .sa-icon.sa-success::before {
        -webkit-border-radius: 120px 0 0 120px;
        border-radius: 120px 0 0 120px;
        top: -7px;
        left: -33px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 60px 60px;
        transform-origin: 60px 60px; }
      .sweet-alert .sa-icon.sa-success::after {
        -webkit-border-radius: 0 120px 120px 0;
        border-radius: 0 120px 120px 0;
        top: -11px;
        left: 30px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 0px 60px;
        transform-origin: 0px 60px; }
      .sweet-alert .sa-icon.sa-success .sa-placeholder {
        width: 80px;
        height: 80px;
        border: 4px solid rgba(165, 220, 134, 0.2);
        -webkit-border-radius: 40px;
        border-radius: 40px;
        border-radius: 50%;
        box-sizing: content-box;
        position: absolute;
        left: -4px;
        top: -4px;
        z-index: 2; }
      .sweet-alert .sa-icon.sa-success .sa-fix {
        width: 5px;
        height: 90px;
        background-color: white;
        position: absolute;
        left: 28px;
        top: 8px;
        z-index: 1;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .sweet-alert .sa-icon.sa-success .sa-line {
        height: 5px;
        background-color: #A5DC86;
        display: block;
        border-radius: 2px;
        position: absolute;
        z-index: 2; }
        .sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
          width: 25px;
          left: 14px;
          top: 46px;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
        .sweet-alert .sa-icon.sa-success .sa-line.sa-long {
          width: 47px;
          right: 8px;
          top: 38px;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
    .sweet-alert .sa-icon.sa-custom {
      background-size: contain;
      border-radius: 0;
      border: none;
      background-position: center center;
      background-repeat: no-repeat; }

/*
 * Animations
 */
@-webkit-keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@-webkit-keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }

@keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }

@-webkit-keyframes slideFromTop {
  0% {
    top: 0%; }
  100% {
    top: 50%; } }

@keyframes slideFromTop {
  0% {
    top: 0%; }
  100% {
    top: 50%; } }

@-webkit-keyframes slideToTop {
  0% {
    top: 50%; }
  100% {
    top: 0%; } }

@keyframes slideToTop {
  0% {
    top: 50%; }
  100% {
    top: 0%; } }

@-webkit-keyframes slideFromBottom {
  0% {
    top: 70%; }
  100% {
    top: 50%; } }

@keyframes slideFromBottom {
  0% {
    top: 70%; }
  100% {
    top: 50%; } }

@-webkit-keyframes slideToBottom {
  0% {
    top: 50%; }
  100% {
    top: 70%; } }

@keyframes slideToBottom {
  0% {
    top: 50%; }
  100% {
    top: 70%; } }

.showSweetAlert[data-animation=pop] {
  -webkit-animation: showSweetAlert 0.3s;
  animation: showSweetAlert 0.3s; }

.showSweetAlert[data-animation=none] {
  -webkit-animation: none;
  animation: none; }

.showSweetAlert[data-animation=slide-from-top] {
  -webkit-animation: slideFromTop 0.3s;
  animation: slideFromTop 0.3s; }

.showSweetAlert[data-animation=slide-from-bottom] {
  -webkit-animation: slideFromBottom 0.3s;
  animation: slideFromBottom 0.3s; }

.hideSweetAlert[data-animation=pop] {
  -webkit-animation: hideSweetAlert 0.2s;
  animation: hideSweetAlert 0.2s; }

.hideSweetAlert[data-animation=none] {
  -webkit-animation: none;
  animation: none; }

.hideSweetAlert[data-animation=slide-from-top] {
  -webkit-animation: slideToTop 0.4s;
  animation: slideToTop 0.4s; }

.hideSweetAlert[data-animation=slide-from-bottom] {
  -webkit-animation: slideToBottom 0.3s;
  animation: slideToBottom 0.3s; }

@-webkit-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@-webkit-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

@-webkit-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }

@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }

.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s; }

.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s; }

.sa-icon.sa-success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in; }

@-webkit-keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }

@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }

.animateErrorIcon {
  -webkit-animation: animateErrorIcon 0.5s;
  animation: animateErrorIcon 0.5s; }

@-webkit-keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }

@keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }

.animateXMark {
  -webkit-animation: animateXMark 0.5s;
  animation: animateXMark 0.5s; }

@-webkit-keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #F8BB86; } }

@keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #F8BB86; } }

.pulseWarning {
  -webkit-animation: pulseWarning 0.75s infinite alternate;
  animation: pulseWarning 0.75s infinite alternate; }

@-webkit-keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #F8BB86; } }

@keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #F8BB86; } }

.pulseWarningIns {
  -webkit-animation: pulseWarningIns 0.75s infinite alternate;
  animation: pulseWarningIns 0.75s infinite alternate; }

@-webkit-keyframes rotate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes rotate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

// /* Internet Explorer 9 has some special quirks that are fixed here */
// /* The icons are not animated. */
// /* This file is automatically merged into sweet-alert.min.js through Gulp */
// /* Error icon */
// .sweet-alert .sa-icon.sa-error .sa-line.sa-left {
//   -ms-transform: rotate(45deg) \9; }

// .sweet-alert .sa-icon.sa-error .sa-line.sa-right {
//   -ms-transform: rotate(-45deg) \9; }

// /* Success icon */
// .sweet-alert .sa-icon.sa-success {
//   border-color: transparent\9; }

// .sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
//   -ms-transform: rotate(45deg) \9; }

// .sweet-alert .sa-icon.sa-success .sa-line.sa-long {
//   -ms-transform: rotate(-45deg) \9; }

//DELETE THE BALL FALL FROM SWEET ALERT.

/*
 * Animation
 */
@-webkit-keyframes ball-fall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(145%);
    transform: translateY(145%); } }

@-moz-keyframes ball-fall {
  0% {
    opacity: 0;
    -moz-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -moz-transform: translateY(145%);
    transform: translateY(145%); } }

@-o-keyframes ball-fall {
  0% {
    opacity: 0;
    -o-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -o-transform: translateY(145%);
    transform: translateY(145%); } }

@keyframes ball-fall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-145%);
    -moz-transform: translateY(-145%);
    -o-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(145%);
    -moz-transform: translateY(145%);
    -o-transform: translateY(145%);
    transform: translateY(145%); } }

  .foo {
    background: $greyMedium;
    margin: -3% 0;
    padding-top: 4%;
    background: #3E3E3E;  
  }

  .footer-icons{
    display:inline-block;
    list-style:none;
    color :white;
    width : 100%;
    margin :-3% 0 2% 40%;
  }
    
  li{
    display:inline-block;
    margin : 1%;
  }


.foo{
  //position :absolute;
  width:100%;
  //bottom:0;
  background: $greyMedium;
  margin:-3% 0;
  padding-top: 4%;
  background: #3E3E3E;  
}

.footer-icons{
  display:inline-block;
  list-style:none;
  color :white;
  width : 100%;
  margin :-3% 0 2% 40%;
}
  
li{
  display:inline-block;
  margin : 1%;
}

  .fa{
    color:#fff;
  }
    
    
  .copy2{
    width:100%;
    padding:1% 0;
    background : black;
    color :white;
  }

  #copy{
    width:100%;
    margin: 3% 32% 0;
    font-size: 0.875em;
    opacity :1.2;
  }

  #by{
    width:100%;
    margin: 2% 31% 3%;
    font-size: 0.875em;
    opacity :0.7;
  }
}
}
