


<h4> Welcome {{user.userName}} </h4> 
<div class='add-main'>
  <h4 class='pageHeading'> Add Upcoming Events</h4>
  <p ng-model="vm.rating"></p>

  <form ng-submit="vm.uploadFile()" ng-hide="vm.imageUploaded">
    <input type='file' id='eventImage' >
    <button class=' button eventImgBtn'> Add Image</button>
  </form>

  <img ng-src="{{vm.image}}" width="100">

  <div class='add-event' ng-show="vm.imageUploaded">

    <form ng-submit="vm.addEvent(event)">
      <input class="addfields"
        placeholder="Event Name " 
        ng-model="event.name" >
    
      <input class="addfields"
        placeholder="Date" 
        ng-model="event.date">
      
      <input class="addfields"
        placeholder="Time" 
        ng-model="event.time">
      
      <input class="addfields"
        placeholder="Location" 
        ng-model="event.location" >
      
      <textarea class="addfields detail"
        placeholder="Details" 
        ng-model="event.comment">
      </textarea>  

      <div class="row">
        <fieldset class="large-6 columns">
          <legend>Select Event Type</legend>
          <input ng-model="event.category" type="radio" name="pokemon" value="eat" id="pokemonRed" required><label for="pokemonRed">Eat</label>
          <input ng-model="event.category" type="radio" name="pokemon" value="go" id="pokemonBlue"><label for="pokemonBlue">Go</label>
          <input ng-model="event.category" type="radio" name="pokemon" value="event" id="pokemonYellow"><label for="pokemonYellow">Event</label>
        </fieldset>
      </div>

      <input class="addfields"
        placeholder="Tags" 
        ng-model="event.tags" >

      <button class="button">Add Event</button>

    </form>
  </div>
</div>



<!-- ADDING STARS FOR MARYAM -->
   <!--  <hr>
<rating class="rating-stars"
 ng-model="event.rating" 
 value="rate" 
 max="max" 
 readonly="isReadonly" 
 on-hover="hoveringOver(value)" 
 on-leave="overStar = null" 
 ng-click="vm.rateMe(rating)"></rating>

<span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>

<hr> -->
  <!--   <label  class="addfields" ng-model="event.rating">Event Not Rated</label>
 -->