<h3>Featured</h3>
<div class="container" id="featured">
  
  <a id="featured"></a>

  <section>
      <section class="secondNav">
        <ul>
            <div class=""> 
              <li class = 'no-bullet' id ="secondNavLink"><a href="#/options"><i class="fa fa-arrow-left"></i> Options</a></li>
            </div>
        </ul>
      </section>

      <div class='list'> 
        <ul class='contain'> 
            <li class="featuredList">
              <div class='topContainer'>
                <a href="#">Eat
                <div class="featuredContainers"></div></a>
                <div class='rating'>Rating: </div>
                <div class='stars'>{{put stars here}}</div>
              </div>
              <textarea class="textarea" placeholder="Comment:"></textarea>
            </li>

            <li class="featuredList">
              <div class='topContainer'>
                <a href="#">Go
                <div class="featuredContainers" ng-repeat="picture in pictures"></div></a>
                <div class='rating'>Rating: </div>
                <div class='stars'>{{put stars here}}</div>
              </div>
              <textarea class="textarea" placeholder="Comment:"></textarea>
            </li>

            <li class="featuredList">
              <div class='topContainer'>
                <a href="#">Connect
                <div class ="featuredContainers" ng-repeat="picture in pictures"></div></a>
                <div class='rating'>Rating: </div>
                <div class='stars'>{{put stars here}}</div>
              </div>
              <textarea class="textarea" placeholder="Comment:"></textarea>
            </li>    
        </ul>
      </div>     
  </section>

   


<!-- TESTING OUT GRID BLOCKS -->
<!--  <div class="grid-frame">
    <div class="grid-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum iure architecto minima, ipsum officiis rem illum ea, eos, magnam reprehenderit aperiam tempore totam qui neque voluptatibus dolorem blanditiis natus facilis.</div>
    <div class="grid-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur ea dicta doloribus alias nihil nostrum ab aliquid temporibus, esse iusto voluptas explicabo unde molestias, eum obcaecati minus, aspernatur libero.</div>
    <div class="grid-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta explicabo nam ipsum, nobis odit iure sequi, dignissimos totam sit sapiente pariatur laudantium, quae repellat deserunt. Ducimus fugit alias aspernatur accusantium.</div>


    </div> -->

<!-- END OF TEST AREA -->



</div>