<h3>Featured</h3>
<!-- <div class="container" id="featured">
  
  <a id="featured"></a>


      <section class="secondNav">
        <ul>
            <div class=""> 
              <li class = 'no-bullet' id ="secondNavLink"><a href="#/options"><i class="fa fa-arrow-left"></i> Options</a></li>
            </div>
        </ul>
      </section>

      <div class='list'> 
        <ul class='contain'> 
            <li class="featuredList">
              <div class='topContainer'>
                <a href="#">Eat
                <div class="featuredContainers"></div></a>
                <div class='rating'>Rating: </div>
                <div class='stars'>(stars)</div>
              </div>
              <textarea class="textarea" placeholder="Comment:"></textarea>
            </li>

            <li class="featuredList">
              <div class='topContainer'>
                <a href="#">Go
                <div class="featuredContainers" ng-repeat="picture in pictures"></div></a>
                <div class='rating'>Rating: </div>
                <div class='stars'>(stars)</div>
              </div>
              <textarea class="textarea" placeholder="Comment:"></textarea>
            </li>

            <li class="featuredList">
              <div class='topContainer'>
                <a href="#">Connect
                <div class ="featuredContainers" ng-repeat="picture in pictures"></div></a>
                <div class='rating'>Rating: </div>
                <div class='stars'>(stars)</div>
              </div>
              <textarea class="textarea" placeholder="Comment:"></textarea>
            </li>    
        </ul>
      </div>     
  </section>
</div> -->

<!-- <event-item id="event-{{ $index }}" ng-repeat "e in vm.events" event="e"></event-item>
 -->

<div>


  <table>
    <tr>
      <td>Event Name</td>
      <td>Event Date</td>
      <td>Event Time</td>
      <td>Event Location</td>
<!--       <td>Event Picture</td> -->
      <td>Event Tags</td>
    </tr>
    <tr ng-repeat="event in vm.events">
      <td>{{ event.name }}</td>
      <td>{{ event.date }}</td>
      <td>{{ event.time }}</td>
      <td>{{ event.location }}</td>
<!--       <td>{{ event.picture }}</td> -->
      <td>{{ event.tags }}</td>
    </tr>
  </table>
<!-- <div>
  <ul>
    <li ng-repeat='event in vm.events'>{{event.name}}</li>
    <li ng-repeat='event in vm.events'>{{event.tags}}</li>
    <li ng-repeat='event in vm.events'>{{event.ratings}}</li>
    <li ng-repeat='event in vm.events'>{{event.picture}}</li>

  </ul>
</div> -->
   


<!-- TESTING OUT GRID BLOCKS -->
<!--  <div class="grid-frame">
    <div class="grid-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum iure architecto minima, ipsum officiis rem illum ea, eos, magnam reprehenderit aperiam tempore totam qui neque voluptatibus dolorem blanditiis natus facilis.</div>
    <div class="grid-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur ea dicta doloribus alias nihil nostrum ab aliquid temporibus, esse iusto voluptas explicabo unde molestias, eum obcaecati minus, aspernatur libero.</div>
    <div class="grid-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta explicabo nam ipsum, nobis odit iure sequi, dignissimos totam sit sapiente pariatur laudantium, quae repellat deserunt. Ducimus fugit alias aspernatur accusantium.</div>


    </div> -->

<!-- END OF TEST AREA -->



