<h3>Featured</h3>
<div class="container" id="featured">
  
  <a id="featured"></a>

  <section>
      <section class="secondNav">
        <ul class="">
            <div class=""> 
              <li id ="secondNavLink"><a href="#/options"><i class="fa fa-arrow-left"></i> Options</a></li>
            </div>
        </ul>
      </section>

      <div class='list'> 
        <ul> 
            <li class="featuredList">
            <div><a href="#">Eat</a></div>
            <div>Rating: </div>
            <p class="comment">Comment: </p>
            <textarea class="textarea1" placeholder="Comment"></textarea>
            </li>


            <li class="featuredList">
            <div><a href="#">Go</a></div>
            <div>Rating: </div>
            <p class="comment">Comment: </p>
            <textarea class="textarea2" placeholder="Comment"></textarea>
            </li>

            <li class="featuredList">
            <div><a href="#">Connect</a></div>
            <div>Rating: </div>
            <p class="comment">Comment: </p>
            <textarea class="textarea3" placeholder="Comment"></textarea>
            </li>    
        </ul>
      </div> 
  </section>

</div>