<video autoplay loop muted class='bgvideo' id='bgvideo'>
  <source ng-src='../media/nightstreet.mov'>
</video>

<form ng-submit='vm.search(data)' class='searchForm'>
  <input placeholder='Search' type='text' class='searchInput' id='middle-label' autocomplete='off' ng-model='data'>
  <button ng-click ="vm.search(data)" type="button" class="success button">Search</button>
</form>

<!-- DISPLAYING SEARCH RESULTS AS LINKS AND DIRECTING IT TO SINGLE VIEW -->
<ul class="searchResults dropdown menu">
  <li class="searchResultList" ng-repeat="result in vm.results | filter: data">
    <a href="#/singleresult/{{result.name}}">{{ result.name }}</a>
  </li>
</ul>

<section class='columnsPage'>

<!-- EAT TAGS -->
<div class="row small-up-1 medium-up-2 large-up-4 tresColumns">
  <div class='column'>
    <img ng-src='../media/blurredeat.png' class='columnPic'>
    <ul class='eat dropdown menu eatColumn' data-dropdown-menu>
      <li>
        <a href="#" title='Eats'><img ng-src='../media/eatText.png' class='eatText'></a>
        <ul class='menu'>
          <li ng-repeat='t in vm.tags' >
             <a ng-click='vm.getspecData(t)' href="#/tag/{{t}}">{{t}}</a> 
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <!-- GO TAGS  -->
  <div class='column'>
    <img ng-src='../media/blurredpier.png' class='columnPic'>
    <ul class='eat dropdown menu goColumn' data-dropdown-menu>
      <li>
        <a href="#" title='Go'><img ng-src='../media/goText.png' class='goText'></a>
        <ul class='menu'>
          <li ng-repeat='g in vm.go'>
            <a ng-click = 'vm.getspecData(g)' href="#/tag/{{g}}">{{g}}</a> 
          </li>
        </ul>
      </li>
    </ul> 
  </div>

  <!-- EVENTS TAGS -->
  <div class='column'>
    <img ng-src='../media/blurredevent.png' class='columnPic'>
    <ul class='eat dropdown menu eventColumn' data-dropdown-menu>
      <li>
        <a href="#" title='Events'><img ng-src='../media/eventText.png' class='eventText'></a>
        <ul class='menu'>
          <li ng-repeat='e in vm.events'>
            <a ng-click = 'vm.getspecData(e)' href="#/tag/{{e}}">{{e}}</a> 
          </li>
        </ul>
      </li>
    </ul> 
  </div>  
</div>
</section>