<!-- Video Background -->
<section class='landingPage'>
  <video autoplay loop muted class='bgvideo' id='bgvideo'>
    <source ng-src='../media/nightstreet.mov'>
  </video>

<!-- Localize Logo -->
  <h1><a href="#/" class='logo'><img src="../media/localizelogo.png" class='localizeLogo'></a></h1>
 
<!-- Top Right Navigation -->
  <section class="top-bar-section">
    <ul class="right">
    <div class="position-right"> 
      <li id ="home"><a href="#/"><i class="fa fa-home fa-2x"></i></a></li>
      <li id="login"><a href="#/login">Login</a></li>
      <li id='register'><a href="#/register">Register</a></li>
      <li id="add"><a data-toggle='animatedModal1'>Add Event</a></li>
    </div>
    </ul>
  </section>

<!-- This is the Search Bar of the Home Page -->
  <section class='searchArea'>
    <h2 class='discover'>Discover Your City</h2>
    <form ng-submit='vm.search(data)' class='searchForm'>
      <input placeholder='Search' type='text' class='searchInput' id='middle-label' autocomplete='off' ng-model='data'>
      <button ng-click ="vm.search(data)" type="button" class="success button">Search</button>
    </form>

<!-- DISPLAYING SEARCH RESULTS AS LINKS AND DIRECTING IT TO SINGLE VIEW -->
    <ul class="searchResults dropdown menu">
      <li class="searchResultList" ng-repeat="result in vm.results | filter: data">
        <a href="#/singleresult/{{result.name}}">{{ result.name }}</a>
      </li>
    </ul>
  </section>

</section>

<!-- Eat, Go, Event Columns Area on Home Page -->
<section class='columnsPage'>

  <h2 class='connect'>Connect Locally</h2>
  <p class='connectPara'>Find tasty restaurants, explore the city, connect with the locals</p>

  <!-- EAT TAGS -->
  <div class="row small-up-1 medium-up-2 large-up-4 tresColumns">
    <div class='column'>
      <img ng-src='../media/blurredeat.png' class='columnPic'>
      <ul class='eat dropdown menu eatColumn' data-dropdown-menu>
        <li>
          <a href="#" title='Eats' class='columnResults'><img ng-src='../media/eatText.png' class='eatText'></a>
          <ul class='menu'>
            <li ng-repeat='t in vm.tags' >
               <a ng-click='vm.getspecData(t)' href="#/tag/{{t}}">{{t}}</a> 
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- GO TAGS  -->
    <div class='column'>
      <img ng-src='../media/blurredpier.png' class='columnPic'>
      <ul class='eat dropdown menu goColumn' data-dropdown-menu>
        <li>
          <a href="#" title='Go'><img ng-src='../media/goText.png' class='goText'></a>
          <ul class='menu'>
            <li ng-repeat='g in vm.go'>
              <a ng-click = 'vm.getspecData(g)' href="#/tag/{{g}}">{{g}}</a> 
            </li>
          </ul>
        </li>
      </ul> 
    </div>

    <!-- EVENTS TAGS -->
    <div class='column'>
      <img ng-src='../media/blurredevent.png' class='columnPic'>
      <ul class='eat dropdown menu eventColumn' data-dropdown-menu>
        <li>
          <a href="#" title='Events'><img ng-src='../media/eventText.png' class='eventText'></a>
          <ul class='menu'>
            <li ng-repeat='e in vm.events'>
              <a ng-click = 'vm.getspecData(e)' href="#/tag/{{e}}">{{e}}</a> 
            </li>
          </ul>
        </li>
      </ul> 
    </div>  
  </div>

</section>


<!-- Featured Section of the Home Page -->

<section class='featSection'>
  <h2 class='featHeader'>Featured</h2>
  <p class='featPara'>Check out some of your local area featured events.</p>

  <div class='featured1 row small-up-1 medium-up-2 large-up-4'>
    <ul class='column' ng-repeat='event in vm.eventRes | limitTo: 3'>
      <li>
      <div class='featImgDiv'>
        <img ng-src='{{event.picture}}' class='featuredImg'>
      </div>
      <div class='featInfo'>
        <p class='featInfoPara'>{{event.name}}</p>

      <!-- Star Rating for featured items -->
        <div><rating class="rating-stars"
          ng-model="event.ratings" 
          value="rate"
          max="max" 
          readonly="isReadonly" 
          on-hover="hoveringOver(value)" 
          on-leave="overStar = null" 
          ng-click="vm.rateMe(ratings)"></rating>
          <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 &&   percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
          <label class="addfields" ng-model="event.ratings"></label>
        </div> 
      </div>   
      </li>
    </ul>
  </div>
</section>
