<nav class="top-bar" data-topbar role="navigation">
      <h1><a href="#/" class='logo'><img src="../media/localizelogo.png"></a></h1>
      
  <section class="top-bar-section">
    <ul class="right">
    <div class="position-right"> 
      <li id ="home"><a href="#/">Home</a></li>
      <li id="login"><a href="#/login">Login</a></li>
      <li id='register'><a href="#/register">Register</a></li>
      <li id="add"><a data-toggle='animatedModal1'>Add Event</a></li>
    </div>
    </ul>
  </section>
</nav>

<!-- This is the beginning of the Add Event Link modal pop out to login or register -->

<section class="modalLogin reveal" id='animatedModal1' data-reveal data-close-on-click='true' data-animation-in-'spin-in' data-animation-out='spin-out'>

<h3>Sign in to add an event</h3>
  <form ng-submit="vm.login(user)">
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <label>Username<input type="text" ng-model="user.username"></label>
    <label>Password<input type="password" ng-model="user.password"></label>
    <button ng-click="vm.login(user)" class="success button">Login</button>

    <div>
      <p>Not a member yet? <span class='regLink'><a href="#/register" data-close aria-label="Close reveal">Register Here</a></span></p>
    </div>

  </form>
</section>

<!-- This is the end of the Add Event Link modal pop out to login or register -->

<section class="container" ui-view></section>



<!-- <section class="otherContainers">
    <ul class="left">
    <div class="position-left"> 
      <li id ="Options"><a href="#/options">Options</a></li>
      <li id="Featured"><a href="#/featured">Featured</a></li>
    </div>
    </ul>
</section> -->