<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/" class='title'>Localize</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
    <div class="position-right"> 
      <li id ="home"><a href="#/">Home</a></li>
      <!-- login -->
      <li id="login"><a href="#/login">Login</a></li>
          <!-- login end -->
      <li id='register'><a href="#/register">Register</a></li>
      <li id="add"><a href="#/add">Add an Event</a></li>
    </div>
    </ul>
  </section>
  <section class="top-bar-section">
    <ul class="left">
    <div class="position-left"> 
      <li id ="Options"><a id="options">Options</a></li>
      <li id="Featured"><a id="featured">Featured</a></li>
    </div>
    </ul>
  </section>
</nav>


<section class="container" ui-view></section>