<section class='singlePage'>

  <div class='tagNav'>
  <!-- Localize Logo -->
    <a href="#/" class='logo'><img src="../media/localizelogoInvert.png" class='localizeLogo'></a>
   
  <!-- Top Right Navigation -->
    <section class="top-bar-section">
      <ul class="right">
      <div class="position-right"> 
        <li id ="home"><a href="#/"><i class="fa fa-home fa-2x"></i></a></li>
        <li id="login"><a href="#/login">Login</a></li>
        <li id='register'><a href="#/register">Register</a></li>
        <li id="add"><a data-toggle='animatedModal1'>Add Event</a></li>
      </div>
      </ul>
    </section>
  </div>

  <section class='singleResults'>
  	<h4>Check this out... </h4>
    <div>
	    <li class="singleResDiv" ng-repeat="single in vm.singles">
		    <div class="singleContainer">
					<div class="imgDiv sping-cw">
						<img ng-src="{{single.picture}}" alt="#">
          </div>

					<div class="singleResText">
            <h3>{{single.name}}</h3>
						<p><span>Address : </span>{{single.location}}</p>
						<p><span>Date : </span>{{single.date}}</p>
						<p><span>Time : </span>{{single.time}}</p>
  					<p><span>Comments : </span> "{{single.comment}}"</p>
					</div>
				</div>				
	    </li>
    </div>
  </section>

</section>


