<section class='regSection'>

  <form ng-submit='vm.signUp(user)' class='regForm'>
  <h3 class='regHeader'>Sign up with Localize</h3>
    <label class='regLabel topLabel'>Enter a username
    <input ng-model='user.username' placeholder='Create Username' class='regField' type='text'></label>
    <label class='regLabel secondLabel'>Enter a password
    <input ng-model='user.password' placeholder='Create Password' class='regField' type='password'></label>
    <button type="submit" class="alert button">Register</button>
  </form>

</section>